/*RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
        box-sizing: border-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
 
/* Reset a */

a{
	color: inherit;
	text-decoration: none;
	
}

/* Reset li */

li{

	text-decoration: none;
	list-style-type: none;

}
 



/*FONT*/

@font-face {
  font-family: "ume";
  src: url("../fonts/ume-stroke-stroke.ttf");
	font-weight: normal;
	font-style: normal;

}


/*GENERAL*/ 

html{

	font-family: "ume";
	font-size: 16px;
}

body{

	margin: 1rem;
}


hr{




}

/*HEAD*/ 

 .head {

 	color: red;
 	font-size: 1.6rem;
	margin: 1rem 0 1rem 0;
	padding-left: 1rem; 

}

.head li{

 	display: inline-block;
 	width: calc(90% / 3);
 	height: 2rem;
 	
 }

.head hr ~ li{

	font-size: 1rem;
	display: block;
	height: 1.4rem;


}

.head hr ~ li:empty{

	display: none;
}


.content{

	display: block;
	margin-left: 6rem;
	color: blue;
}























