@font-face {
  font-family: 'umeSS';
  src: url('../fonts/ume-stroke-stroke.ttf');
}


@color: black;
@background: lavender;

body{
  background: white;
  color: @color;
}

.list {
  position: fixed;
  margin: 0px;
  font-family: 'umeSS';
  width: 30%;
  height: 100%;
  float: left;
  li.post_btn {
    font-size: 14pt;
    outline: red;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    em {
      color: red;
    }
    span:nth-of-type(1){
      width: 30%;
      font-size: 9px;
      color: darkblue;
    }
    span:nth-of-type(2){
      width: 30%;
      font-size: 10px;
      color: green;
      right: 0px;
    }
  }
}

.content {
  margin-left: 30%;
  font-family: 'umeSS';
  padding: 10px;
  width: 70% - 20px;
  float: left;
  hr:nth-of-type(1), hr:nth-of-type(2) {
    display: none;
  }
  hr:nth-of-type(1) + p {
    display: none;
  }
  header{
    background: white;
    h1, h2, h3{
      display: inline;
      text-transform: uppercase;
    }
    position: fixed;
  }
  .text_cont {
    margin-top: 70px;
  }
}

